:root {
  font-size: 16px;

  --color-light-blue: #becedd;
  --color-white: #ffffff;
  --color-grey: #aebdcb;
  --color-black: #000000;
  --color-near-black: #555555; 
  --color-median-orange: #f6b7a3;
  --color-red: #d0172d;

  --color-low-priority: purple;
  --color-medium-priority: orange;
  --color-high-priority: var(--color-red);

  --color-label: #666666;
  --color-strike: #aaaaaa;
  
}

